.slider-container {
    margin: auto 0;
    width:100%;
    height:max-content;
    padding:1.875rem 2.313rem 1.875rem 2.313rem;
    background-image:url(./assets/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: min(40rem, 100%);
  }
  
  .slider-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .slides-container {
    /* height: calc(100vh - 2rem); */
    height:100%;
    padding-bottom:3rem;
    /* height:max-content; */
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

.buttons-holder{
    width:5rem;
    height:2.5rem;
    position:absolute;
    z-index:3;
    right: 50%;
    top:65%;
    transform: translateX(50%);
    display:flex;
}
.slide-arrow {
    background:var(--color3);
    transition: background 0.5s;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items:center;
    width:50%;
    height:100%;
    padding:0;
    margin:0;
}
#slide-arrow-next{
    border-radius: 0 1.75rem 1.75rem 0;
}
#slide-arrow-prev {
    border-radius: 1.75rem 0 0 1.75rem ;
}
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    background:var(--color2);
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    display:none; /* accessibility - hide all the slides */
  }
  .active-slide {
    display:block; /* accessibility - show only the active slide */
  }
  
  .slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
    /* WebKit */
    .slides-container::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }

.slide-content {
  display:grid;

}
.testim-text-holder {
  align-self: center;
  padding-top:2rem;
  margin-top:3rem;
  background-image: url(./assets/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size:3.75rem 3.125rem;
}
.img-holder {
    text-align:center;
  /* grid-column: 7/13; */
  /* box-shadow: -20px 40px 30px -30px rgba(36,36,113,50%); */
}
.img-holder img {
  max-width:100%;
  height:auto;
  border-radius:0.313rem;
}
blockquote {
    font-weight:300;
    font-size: clamp(1.125rem, 1.4rem, 1.7rem);
    /* font-size:1.125rem; */
    line-height:2rem;
    text-align: center;
}
figcaption {
    margin-top:1.125rem;
    font-weight:700;
    color:var(--color1);
    text-align: center;
}
figcaption span {
    font-weight:500;
    color: var(--color2);
    display:block;
}

/* Animation for appearance of the slide's content */

.active-slide .img-holder {
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-direction: alternate;
  }
.active-slide blockquote {
    animation-duration: 2s;
    animation-name: slidein;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      transform: translate(-100%);
      opacity:0.1;
    }
  
    to {
        transform: translate(0);
      opacity:1;
    }
  }
  @keyframes falldown {
    from {
      transform: translate(200%);
      opacity:0.1;
    }
  
    to {
      transform: translate(0);
      opacity:1;
    }
  }
  .active-slide figcaption{
   animation: slidein 1.5s ease-out;
  }
  .active-slide figcaption span{
   animation: slidein 1.5s ease-out 0.5s;
  }

  @media screen and (min-width:50rem){
    .slider-container {
        background-size: auto 90%;
        background-position:top right -5rem;
    }
    .slides-container {
        padding-bottom:5rem; /*for the shadow */
    }
    .buttons-holder{
        width:7rem;
        height:3.5rem;
        right:33%;
        bottom:3.3rem;
        top:initial;
        transform: initial;
    }
    .slide-content {
        grid-template-columns: repeat(12, 1fr);
      }
      .testim-text-holder, .img-holder {
        grid-row:1/2;
      }
      .img-holder {
        grid-column: 7/13;
        
        text-align:right;
      }
      .img-holder img {
        box-shadow: -20px 40px 30px -30px rgba(36,36,113,50%);
      }
    .testim-text-holder {
        grid-column: 1/8;
        align-self: center;
        padding-top:2rem;
        margin-top:0;
        background-position: left 5.938rem top;
        background-size:7.5rem 6.25rem;
      }
    blockquote {
        font-size:1.7rem;
        line-height:2.4rem;
        text-align: left;
    }
    figcaption {
        text-align: left;
    }
    figcaption span {
        display:inline-block;
        margin-left:0.4rem;
    }
  }
  @media screen and (min-width:73.5rem){
    .slider-container {
        margin: auto 0;
        width:100%;
        height:max-content;
        padding:7.063rem min(10.313rem, 14%) 9.188rem min(10.313rem, 14%);
        background-position: right 4.6rem top 3.1rem;
        background-size: auto min(calc(100% - 5rem), 41.063rem);
      }
 
      .testim-text-holder {
        padding-top:4.8rem;
        background-position: left 5.938rem top 0.6rem;
      }
    blockquote {
        font-size:2rem;
        line-height:2.75rem;
    }
    figcaption {
        margin-top:2.4rem;
        font-size: 1.25rem;
    }
  }
  @media (prefers-reduced-motion) {
    .active-slide .img-holder, .active-slide blockquote, .active-slide figcaption, .active-slide figcaption span {
      animation: none !important;
    }
  }